<form action="/user/uploadavatar">
    <div class="row center-block">
        <div class="col-md-6 col-md-offset-3">
            <div flow-init="{target:'/uploader', maxChunkRetries: 1,
                            chunkRetryInterval: 5000,
                            simultaneousUploads: 4,
                            singleFile: true}"
                flow-files-submitted="$flow.upload()"
                flow-file-success="$file.msg = $message" style="text-align: center">

                <div class="thumbnail" ng-hide="$flow.files.length" style="display: inline-block">
                    <img src="./img/avatar.svg" />
                </div>
                <div class="thumbnail" ng-show="$flow.files.length" style="display: inline-block">
                  <img flow-img="$flow.files[0]" />
                </div>
                <div style="display: inline-block">
                  <span class="btn" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</span>
                  <span class="btn" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</span>
                  <span class="btn btn-danger" ng-show="$flow.files.length"
                     ng-click="$flow.cancel()">
                    Remove
                  </span>
                </div>
            </div>
        </div>
    </div>
</form>
