<div class="container" ng-controller="EditUsersController as editUsers">
    <h1>{{editUsers.moduleName}}
        <small>{{editUsers.pageName}}</small>
    </h1>
    {{editUsers}}
    {{editUsers.$dirty}}
    <div class="panel panel-primary container-z1">
        <div class="panel-body">

            <form name="editUsersForm" class="form-horizontal"
                  ng-submit="editUsersForm.$valid && editUsers.validateFormData()" novalidate>
                <fieldset>
                    <legend>Personal Info</legend>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"
                                 ng-class="[{'has-error' : editUsersForm.documentType.$invalid && editUsersForm.documentType.$touched}]">
                                <!-- Document Type-->
                                <label for="inputDocumentType" class="col-md-4 control-label">Document Type</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="inputDocumentType" name="documentType" required
                                            ng-model="editUsers.userInfo.documentType"
                                            ng-options="option.name for option in editUsers.documentTypeApi track by option.id">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"
                                 ng-class="[{'has-error' : editUsersForm.documentNumber.$invalid && editUsersForm.documentNumber.$dirty}]">
                                <!-- Document Number -->
                                <label for="inputDocumentNumber" class="col-md-4 control-label">Document Number</label>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" id="inputDocumentNumber" placeholder="Document Number"
                                           ng-model="editUsers.userInfo.documentNumber" name="documentNumber" required>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"
                                 ng-class="[{'has-error' : editUsersForm.lastName.$invalid && editUsersForm.lastName.$dirty}]">
                                <!-- First Last Name -->
                                <label for="inputLastName1" class="col-md-4 control-label">First Last Name</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="inputLastName1" placeholder="First Last Name"
                                           ng-model="editUsers.userInfo.firstLastName" name="lastName" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group"
                                 ng-class="[{'has-error' : editUsersForm.secondLastName.$invalid && editUsersForm.secondLastName.$dirty}]">
                                <!-- Second Last Name -->
                                <label for="inputLastName2" class="col-md-4 control-label">Second Last Name</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="inputLastName2" placeholder="Second Last Name"
                                           ng-model="editUsers.userInfo.secondLastName" name="secondLastName" required>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6" >
                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.inputName.$invalid && editUsersForm.inputName.$dirty}]">
                                <!-- Name -->
                                <label for="inputName" class="col-md-4 control-label">Name</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="inputName" placeholder="Name" required
                                           ng-model="editUsers.userInfo.name" name="inputName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.address.$invalid && editUsersForm.address.$dirty}]">
                                <!-- Address -->
                                <label for="inputAddress" class="col-md-4 control-label">Address</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="inputAddress" placeholder="Address"
                                           ng-model="editUsers.userInfo.address" name="address" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.birthDay.$invalid && editUsersForm.birthDay.$touched}]">
                                <!-- Birthday -->
                                <label for="inputBirthDay" class="col-md-4 control-label">Birthday</label>
                                <div class="col-md-8">
                                    <input type="date" class="form-control" id="inputBirthDay" placeholder="Birthday"
                                           ng-model="editUsers.userInfo.birthday" name="birthDay" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"  ng-class="[{'has-error' : editUsersForm.age.$invalid && editUsersForm.age.$dirty}]">
                                <!-- Age -->
                                <label for="inputAge" class="col-md-4 control-label">Age</label>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" id="inputAge" placeholder="Age"
                                           ng-model="editUsers.userInfo.age" name="age" required>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.birthPlace.$invalid && editUsersForm.birthPlace.$touched}]">
                                <!-- Birth Place -->
                                <label for="inputBirthPlace" class="col-md-4 control-label">Birth place</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="inputBirthPlace" required
                                            ng-model="editUsers.userInfo.birthPlace" name="birthPlace"
                                            ng-options="option.name for option in editUsers.birthPlaceApi track by option.id">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.nationality.$invalid && editUsersForm.nationality.$touched}]">
                                <!-- Nationality -->
                                <label for="inputNationality" class="col-md-4 control-label">Nationality</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="inputNationality" name="nationality" required
                                            ng-model="editUsers.userInfo.nationality"
                                            ng-options="option.nationality for option in editUsers.nationalityApi track by option.id">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.nOfChildren.$invalid && editUsersForm.nOfChildren.$dirty}]">
                                <!-- # of children -->
                                <label for="inputNOfChildren" class="col-md-4 control-label"># of Children</label>
                                <div class="col-md-4">
                                    <input type="number" class="form-control" id="inputNOfChildren" placeholder="# of Children"
                                           ng-model="editUsers.userInfo.nOfChildren" name="nOfChildren" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.maritalStatus.$invalid && editUsersForm.maritalStatus.$touched}]">
                                <!-- Marital Status -->
                                <label for="inputMaritalStatus" class="col-md-4 control-label">Marital
                                    Status</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="inputMaritalStatus"  name="maritalStatus" required
                                            ng-model="editUsers.userInfo.maritalStatus"
                                            ng-options="option.name for option in editUsers.maritalStatusApi track by option.id" >
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.scholarship.$invalid && editUsersForm.scholarship.$touched}]">
                                <!-- Scholarship -->
                                <label for="inputScholarship" class="col-md-4 control-label ">Scholarship</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="inputScholarship" name="scholarship" required
                                            ng-model="editUsers.userInfo.scholarship"
                                            ng-options="option.name for option in editUsers.scholarshipApi track by option.id">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.rh.$invalid && editUsersForm.rh.$touched}]">
                                <!-- RH -->
                                <label for="inputRH" class="col-md-4 control-label">RH</label>
                                <div class="col-md-4">
                                    <select class="form-control" id="inputRH" name="rh" required
                                            ng-model="editUsers.userInfo.rh"
                                            ng-options="option.name for option in editUsers.rhApi track by option.id">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.propleInCharge.$invalid && editUsersForm.propleInCharge.$dirty}]">
                                <!-- People in charge -->
                                <label for="inputPeopleInCharge" class="col-md-4 control-label ">People in charge</label>
                                <div class="col-md-4">
                                    <input type="number" class="form-control" id="inputPeopleInCharge" name="propleInCharge"
                                           placeholder="People in charge" ng-model="editUsers.userInfo.peopleInCharge" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.socialStratum.$invalid && editUsersForm.socialStratum.$touched}]">
                                <!-- Social Stratum  -->
                                <label for="inputSocialStratum" class="col-md-4 control-label">Social Stratum</label>
                                <div class="col-md-2">
                                    <select class="form-control" id="inputSocialStratum" name="socialStratum" required
                                            ng-model="editUsers.userInfo.socialStratum"
                                            ng-options="option.id for option in editUsers.socialStratumApi track by option.id">
                                    </select>
                                    <label>{{editUsers.userInfo.socialStratum}}</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <legend>Contact Info</legend>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.skype.$invalid && editUsersForm.skype.$dirty}]">
                                <!-- Skype Id -->
                                <label for="inputSkype" class="col-md-4 control-label">Skype</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="inputSkype" placeholder="Skype" name="skype"
                                           ng-model="editUsers.userInfo.skype" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.personalEmail.$invalid && editUsersForm.personalEmail.$dirty}]">
                                <!-- Personal Email -->
                                <label for="inputPersonalEmail" class="col-md-4 control-label">Personal Email</label>
                                <div class="col-md-8">
                                    <input type="email" class="form-control" id="inputPersonalEmail" name="personalEmail"
                                           placeholder="Personal Email" ng-model="editUsers.userInfo.personalEmail" required>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.cellphone.$invalid && editUsersForm.cellphone.$dirty}]">
                                <!-- Cellphone -->
                                <label for="inputCellphone" class="col-md-4 control-label">Cellphone</label>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" id="inputCellphone" placeholder="Cellphone"
                                           ng-model="editUsers.userInfo.cellphone" name="cellphone" required>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.contactName.$invalid && editUsersForm.contactName.$dirty}]">
                                <!-- Contact Name -->
                                <label for="inputContactName" class="col-md-4 control-label">Contact Name</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="inputContactName" placeholder="Contact Name"
                                           ng-model="editUsers.userInfo.contactName" name="contactName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" >

                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.contactPhoneName.$invalid && editUsersForm.contactPhoneName.$dirty}]">
                                <!-- Phone Contact Name -->
                                <label for="inputContactPhoneName" class="col-md-4 control-label">Contact Phone</label>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" id="inputContactPhoneName" name="contactPhoneName"
                                           placeholder="Contact Phone" ng-model="editUsers.userInfo.contactPhone">
                                </div>
                            </div>
                        </div>
                    </div>

                    <legend>Corporate Info</legend>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.seniority.$invalid && editUsersForm.seniority.$touched}]">
                                <!-- Seniority -->
                                <label for="inputSeniority" class="col-md-4 control-label">Seniority</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="inputSeniority" name="seniority" required
                                            ng-model="editUsers.userInfo.seniority"
                                            ng-options="option.name for option in editUsers.seniorityApi track by option.id">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.hiredTime.$invalid && editUsersForm.hiredTime.$touched}]">
                                <!-- Hired Time -->
                                <label for="inputHiredTime" class="col-md-4 control-label">Hired Date</label>
                                <div class="col-md-8">
                                    <input type="date" class="form-control" id="inputHiredTime" placeholder="Hired Time"
                                           ng-model="editUsers.userInfo.hiredTime" name="hiredTime" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.salary.$invalid && editUsersForm.salary.$dirty}]">
                                <!-- Salary -->
                                <label for="inputSalary" class="col-md-4 control-label">Salary</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" class="form-control" id="inputSalary" placeholder="Salary"
                                               ng-model="editUsers.userInfo.salary" name="salary" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"  ng-class="[{'has-error' : editUsersForm.corporateEmail.$invalid && editUsersForm.corporateEmail.$dirty}]">
                                <!-- Corporate Email -->
                                <label for="inputCorporateEmail" class="col-md-4 control-label">Corporate Email</label>
                                <div class="col-md-8">
                                    <input type="email" class="form-control" id="inputCorporateEmail" name="corporateEmail"
                                           placeholder="Corporate Email" ng-model="editUsers.userInfo.corporateEmail">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.project.$invalid && editUsersForm.project.$touched}]">
                                <!-- Project -->
                                <label for="inputProject" class="col-md-4 control-label">Project</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="inputProject" name="project" required
                                            ng-model="editUsers.userInfo.project"
                                            ng-options="option.name for option in editUsers.projectApi track by option.id">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2">
                            <!-- Skill -->
                            <label class="control-label col-md-12">Skill</label>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group"  >
                                <div class="col-md-3" ng-repeat="value in editUsers.skillsApi">
                                    <label><input type="checkbox" name="skills.{{value.id}}" value="value.id"
                                                  ng-model="editUsers.userInfo.skills[value.id]"
                                                  ng-click="editUsers.extractSkills()">{{value.name}} </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <legend>Social Security</legend>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.afp.$invalid && editUsersForm.afp.$touched}]">
                                <!-- AFP -->
                                <label for="inputAFP" class="col-md-4 control-label">AFP</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="inputAFP" name="afp" required
                                            ng-model="editUsers.userInfo.afp"
                                            ng-options="option.name for option in editUsers.afpApi track by option.id">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="[{'has-error' : editUsersForm.eps.$invalid && editUsersForm.eps.$touched}]">
                                <!-- EPS -->
                                <label for="inputEPS" class="col-md-4 control-label">EPS</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="inputEPS" name="eps" required
                                            ng-model="editUsers.userInfo.eps"
                                            ng-options="option.name for option in editUsers.epsApi track by option.id">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 alert alert-dismissible"
                             ng-show="editUsers.postStatus.message"
                             ng-class="[{'alert-success': !editUsers.postStatus.error} , {'alert-danger':editUsers.postStatus.error}]">
                            <button type="button" class="close" data-dismiss="alert">x</button>
                            {{editUsers.postStatus.message}}
                        </div>
                        <div class="col-sm-4 col-sm-offset-4 alert alert-dismissible"
                                ng-show="editUsersForm.$dirty && editUsersForm.$invalid &&  !editUsers.postStatus.postedForm"
                                ng-class="[{'alert-warning' : !editUsersForm.$valid}]">
                            <button type="button" class="close" data-dismiss="alert">x</button>
                            Please fill in all the required information
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-5">
                            <button type="submit" class="btn btn-primary pull-right btn-block"
                                    ng-class="[{'disabled' : editUsersForm.$invalid}]"
                                    ng-disabled="editUsersForm.$invalid" >Save User</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
